.toast-title {
	color: #fff !important;
}

label.label-gender {
    padding-left: 20px;
    margin-top: 20px;
}

.invalid-feedback, .valid-feedback {
    font-size: inherit;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-login__logo {
    margin-bottom: 0px;
}

.kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control.is-valid + .valid-feedback, .kt-login.kt-login--v3 .kt-login__wrapper .kt-login__container .kt-form .form-control.is-invalid + .invalid-feedback {
	padding-left: 0px;
}

.dropdown.bootstrap-select.form-control.kt- {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*input.form-control.is-invalid {
    border-color: #fd397a;
}*/