/*
style="border-bottom: 1px solid #d2d4e0;"*/
.no-border th {
    border-top: none !important;
    border-bottom: 1px solid #ebedf2 !important;
}

.no-border td {
    border: none !important;
}

.inline-small-input {
    display: flex;
    padding: 5px;
}
.inline-small-input > input {
    width: 100px;
}
.inline-small-input > label {
    padding: 7px;
}

.show > .btn.btn-default, .btn.btn-default.active, .btn.btn-default:active, .btn.btn-default:hover {
    background-color: white !important;
}

.toast-title {
    color: #fff !important;
}

body {
    background: #f5f5f5;
}

div#kt_wrapper {
    padding-left: 0;
}

div#kt_header {
    left: -1px;
}

img.logo {
    width: 60px;
}

.kt-aside__brand-logo {
    padding: 10px 0px 0px 15px;
}

.kt-grid__item.kt-grid__item--fluid.kt-grid.kt-grid--hor {
    padding-left: 50px;
    padding-right: 50px;
}

div#kt_header {
    background-color: #047996;
}

.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link > .kt-menu__link-text {
    color: #f8f8fb !important;
}

.kt-header-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link > .kt-menu__link-text {
	color: #047996 !important;
}

.kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link > .kt-menu__hor-arrow {
    color: #f8f8fb !important;
}

.kt-notification .kt-notification__item:after {
	content: '' !important;
}